*,::before,::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(212, 212, 212);
}

.sketch-container{
  display: grid;
  grid-template-columns: repeat(16,30px);
}

.button-container {
  display: flex;

  justify-content: center;

  margin-bottom: 2em;

  
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.main-container {

  width: 50%;
  margin: 0 auto;

  max-width: 950px;

  
}

h1 {
  text-align: center;

  font-size: 30px;

  margin-block: 1em;

  font-family: 'Press Start 2P', cursive;
}

.sketch-container{

  margin: 0 auto;
}

.content-container {

  margin: 0 auto;
  width: 50%;
}

.btn {
  font-size: 23px;

  border-radius: 12px;

  padding-inline: 1.5em;
  padding-block: 0.2em;
}

.btn2 {
  padding-inline: 1.3em;
}

h2 {
  
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  margin-top: 1.2em;

  
  
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

img{
  height: 1em;
}
